<% include _header %>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">Nodeapi</a></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>[Lista de anuncios]</h1>
      <p class="lead">Listando: <%= anuncios.length %> de <%= total %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th>Nombre</th>
          <th>Venta</th>
          <th style="text-align: right">Precio</th>
          <th>Foto</th>
          <th>Tags</th>
          <th>#</th>
        </tr></thead>
        <tbody>
        <% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? 'Si' : 'No' %></td>
            <td style="text-align: right"><%= anuncio.precio / 100 %>€</td>
            <td><img src="<%= anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
          </tr>
      <% }) %>
        </tbody>
      </table>
      <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/anuncios/?dopag=1&pagina=1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/anuncios/?dopag=1&pagina=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/anuncios/?dopag=1&pagina=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
    <div>
        <p>Ejemplos:</p>
        <ul>
          <li><a href="?dopag=2">Todos (max. 1000)</a></li>
          <li><a href="?dopag=2&start=2&limit=2">Paginado Manual</a></li>
          <li><a href="?dopag=2&sort=precio">Ordenado por precio ascendente</a></li>
          <li><a href="?dopag=2&sort=-precio">Ordenado por precio descendente</a></li>
          <li><a href="?dopag=2&tag=mobile">Con tag mobile</a></li>
        </ul>
      </div>
    </div>
  </div>

  <a href="/">Volver a la home</a>

</div><br>
<% include _footer %>
